html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: "Poppins";
}

img {
  width: 70%;
}

footer{
  color: #A9A9A9;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
}

header{
  margin-bottom: 5%;
}

.top {
  font-family: "PT Serif";
}

.wrapper {
  padding: 1% 10%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.team {
  font-size: 18px;
}

.member:nth-child(2n){
  margin-top: 30%;
}

.photo {
  display: flex;
}

.vertical {
  writing-mode: vertical-rl;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 10px;
  float: left;
}

@media screen and (min-width: 768px){
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }

  .team {
    width: 40%;
  }
  
  /* this resets margin to 0 */
  .member:nth-child(2n){
    margin-top: 0;
  }

  .member:nth-child(3n-1){
    margin-top: 20%;
  }

}