html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-size: 18px;
  font-family: "Poppins";
}

img {
  width: 80%;
}

footer {
  color: #a9a9a9;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
}

header {
  margin: 0% 8%;
  padding-bottom: 1%;
}

.top {
  font-family: "PT Serif";
}

.wrapper {
  width: 100%;
  padding: 1% 10%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.team {
  font-size: 18px;
  margin-top: 0;
}

.member {
  /* the only way I could figure out to make grid content centered */
  padding-left: 20%;
}

.member:nth-child(2n) {
  margin-top: 30%;
}

.photo {
  display: flex;
}

.vertical {
  writing-mode: vertical-rl;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 60%;
  }

  .team {
    width: 40%;
  }

  /* this resets margin to 0 */
  .member:nth-child(2n) {
    margin-top: 0;
  }

  .member:nth-child(3n-1) {
    margin-top: 10%;
  }
}
